
<div class="row">
 
  <div class="col-lg-12 text-center v-center">
    
    <h1>Error</h1>
    <h2>
      Wrong Access Code.
    </h2>
    
  </div>

    <div class="col-lg-12 text-center v-center">
    
      <img id="dog" src="img/sad.jpg">

    </div>
  
</div> <!-- /row -->
